<div id="<%= "trip_segment_"+trip_segment.id.to_s %>">
  <div>
  <%= link_to trip_segment.name, trip_segment_path(trip_segment.id) %> [<%= link_to "delete", trip_segment_path(trip_segment.id), :remote => true, :method => "delete" %>]:
  </div>
  <div>
  <%= trip_segment.origin %>==>
  <%= link_to trip_segment.destination, destination_path(trip_segment.destination), :remote => true %>
  </div>
  <div>
  <%= trip_segment.distance_in_miles %> miles
  </div>
  <br>
</div>
