<p>ALL TRIPS:</p>
<div id="trips">
  <% Trip.find_each(:batch_size => 2) do |trip| %>
    <div id="<%= "trip_"+trip.id.to_s %>">
      <%= trip.name %>  ====> <%= link_to "trip segments", all_segments_for_trip_path(trip.id) %>
    </div>
  <% end%>
</div>

<div>
<br>
<%= link_to "Add a Trip", new_trip_path %>
</div>

<div>
<br>
<%= link_to "Trip Segments", trip_segments_path %>
</div>