<p>TripName: <%= @trip.name %> <%= link_to "map", all_locales_trip_path(@trip.id)%></p>

<% if @trip.trip_segments.exists? %>
  <div>
  Total miles: <%= @trip.total_miles %> via <%= pluralize(@trip.trip_segments.count, 'segment') %><br>
  Longest segment: <%= @trip.longest_segment_of_trip.name %> of <%= @trip.longest_segment_of_trip.distance_in_miles %> miles<br>
  <br>
<% end %>
Longest segment (all trips): <%= longest_segment_length %>


</div>

<br>
<br>
<%= link_to "Back to All Trips", trips_path %>
